# Data Science Tools and Ecosystems

#### In this notebook, Data Science Tools and Ecosystem are summarized.

#### Some of the popular languages that Data Scientists use are:
1. Python
2. Java
3. R
4. Scala

### Objectives:
* Name some of the open-source tools used by data scientists.
* Name some of the programming languages used by data scientists.
* Demonstrate basic arithmethic expressions (such as addition, multiplication and division).
* Demonstrate the creation of a basic table using markdown cells.

#### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. Ggplot2
4. Plotly

| Data Science Tools |
| ------------------ |
| Jupyter Notebook |
| Apache Hadoop |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
(200/60)

3.3333333333333335

## Author
Eric Olarte